<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:rim="http://www.blackberry.com/ns/widgets"
		version="1.0.0.0" id="BootstrapCalculator">
	<name>GPA Analyzer</name>
	<author>Maciej Mensfeld</author>
	<author>Zeph Grunschlag</author>
	<description>Zeph Grunschlag - GPA Analyzer</description>
	<icon src="assets/images/icon.png"/>
	<content src="index.html"/>
</widget>
